{% load static %}
<div class="relative -z-50 h-80 max-lg:h-52">
    <img class="fixed top-0 object-cover brightness-50 object-center w-full h-full" src="{% static 'img/background.jpg' %}">

    <div class="absolute start-20 flex items-center text-white font-black text-5xl h-full">

        {% if request.path == '/' %}
            Home
        {% elif request.path == '/nosotros/' %}
            About us
        {% elif request.path == '/tareas/' %}
            Tasks
        {% endif %}
    </div>
</div>