{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <!-- TailWind -->
    <!-- <link rel="stylesheet" href="{% static 'css/output.css' %}"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- CSS -->
    {% block css %}
        
    {% endblock %}

    <title>Tasks Manager</title>
</head>

    <body class="bg-fixed" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)), url('/static/img/background.jpg'); background-size: cover;">

    <main class="h-screen flex items-center p-8">
        <section class="max-w-lg mx-auto bg-gray-800 text-white shadow-md rounded-lg p-6">
            {% block content %}
                
            {% endblock %}
        </section>
    </main>
</body>
</html>