{% load static %}
<li class="transition duration-300 hover:text-orange-500 hover:underline underline-offset-8 {% if request.path == '/' %} text-orange-500 {% endif %}" >                
    <a href="{% url 'home' %}">Home</a>
</li>

<li class="transition duration-300 hover:text-orange-500 hover:underline underline-offset-8 {% if request.path == '/nosotros/' %} text-orange-500 {% endif %}">                
    <a href="{% url 'about' %}">About us</a>
</li>

{% if user.is_authenticated %}

    <li class="transition duration-300 hover:text-orange-500 hover:underline underline-offset-8 {% if request.path == '/tareas/' %} text-orange-500 {% endif %}">                
        <a href="{% url 'tasks' %}">Tasks</a>
    </li>

    <li>                
        <a class="px-4 py-1 border-2 border-orange-500 bg-orange-500 rounded hover:bg-amber-500 hover:border-amber-500 font-semibold" href="{% url 'signout' %}">Logout</a>
    </li>
    
{% else %}
    
    <li>                
        <a class="px-4 py-1 border-2 border-orange-500 rounded hover:bg-amber-500 hover:border-amber-500 font-semibold" href="{% url 'signup' %}">Sign up</a>
    </li>

    <li>                
        <a class="px-4 py-1 border-2 border-orange-500 bg-orange-500 rounded hover:bg-amber-500 hover:border-amber-500 font-semibold" href="{% url 'signin' %}">Sign in</a>
    </li>
    
{% endif %}