{% extends 'layouts/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}

{% block content %}
    <main class="bg-white">
        <section>
            <div>
                <div class="p-10">
                    <h1 class="text-5xl text-center mb-10">Task manager</h1>
                    <img class="w-60 float-left mr-5" src="{% static 'img/img_main.jpg' %}">
                    <p class="text-lg">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam veritatis, enim dolorem non fuga dolores nostrum consequatur ducimus eius animi saepe voluptate cumque, perferendis beatae dolore inventore quibusdam labore, nisi tenetur reprehenderit ipsa? Deserunt, odio a quis commodi consequatur quia saepe quos sint nisi nostrum culpa porro nobis necessitatibus maiores impedit quo atque vel tenetur similique est ducimus eveniet. Perspiciatis porro provident nulla omnis ab repellendus qui, eligendi vitae ex. Expedita culpa non eaque perferendis obcaecati cum, neque, recusandae quo sit sed asperiores delectus unde voluptatem voluptate doloremque quibusdam magnam assumenda cupiditate laboriosam eveniet tempore? Suscipit similique quaerat veniam numquam aspernatur eaque. Officia id neque fugit, beatae fugiat libero necessitatibus quae dolor nobis rem voluptatem maxime error harum ex esse possimus dolorem dicta adipisci ratione quisquam consectetur ad architecto.
                    </p>
                </div>
                
                <div class="p-10">
                    <h1 class="text-5xl text-center mb-10">About us</h1>
                    <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nostrum voluptate nesciunt inventore eius ex explicabo sit excepturi! Aspernatur totam temporibus autem impedit tempora eius fugiat architecto saepe ratione perferendis necessitatibus delectus, harum earum dolores qui, neque perspiciatis iusto deserunt voluptate sed soluta ipsum vero voluptatibus laudantium. Modi, sunt fuga.</p>
                    <div class="w-full text-center mt-5">
                        <a class="text-white bg-orange-500 px-6 py-2 rounded hover:bg-amber-500" href="{% url 'about' %}">Read more</a>
                    </div>
                </div>

                <div class="bg-slate-100 p-10">
                    <h1 class="text-5xl text-center mb-10">Our services</h1>
                    <div class="flex flex-wrap gap-5 justify-center xl:justify-around">
                        <div class="w-60 flex flex-col items-center justify-between">
                            <img class="rounded shadow" src="{% static 'img/web-design.png' %}">
                            <h3 class="text-lg font-semibold">Web Design</h3>
                        </div>
                        
                        <div class="w-60 flex flex-col items-center justify-between">
                            <img class="rounded shadow" src="{% static 'img/education.png' %}">
                            <h3 class="text-lg font-semibold">Education</h3>
                        </div>
                        
                        <div class="w-60 flex flex-col items-center justify-between">
                            <img class="rounded shadow" src="{% static 'img/ciber-security.png' %}">
                            <h3 class="text-lg font-semibold">Ciber Security</h3>
                        </div>
                    </div>
                </div>

                <div class="p-10">
                    <h1 class="text-5xl text-center mb-10">Gallery</h1>

                    <div class="flex flex-wrap gap-3 justify-center" id="gallery">
                        <span class="overflow-hidden"><img src="{% static 'img/gallery-1.jpg' %}" class="w-full h-full object-cover cursor-pointer" id="img-1"></span>
                        <span class="overflow-hidden"><img src="{% static 'img/gallery-2.jpg' %}" class="w-full h-full object-cover cursor-pointer" id="img-2"></span>
                        <span class="overflow-hidden"><img src="{% static 'img/gallery-3.jpg' %}" class="w-full h-full object-cover cursor-pointer" id="img-3"></span>
                        <span class="overflow-hidden"><img src="{% static 'img/gallery-4.jpg' %}" class="w-full h-full object-cover cursor-pointer" id="img-4"></span>
                        <span class="overflow-hidden"><img src="{% static 'img/gallery-5.jpg' %}" class="w-full h-full object-cover cursor-pointer" id="img-5"></span>
                        <span class="overflow-hidden"><img src="{% static 'img/gallery-6.jpg' %}" class="w-full h-full object-cover cursor-pointer" id="img-6"></span>
                        <span class="overflow-hidden"><img src="{% static 'img/gallery-7.jpg' %}" class="w-full h-full object-cover cursor-pointer" id="img-7"></span>
                        <span class="overflow-hidden"><img src="{% static 'img/gallery-8.jpg' %}" class="w-full h-full object-cover cursor-pointer" id="img-8"></span>
                    </div>

                    <div class="invisible fixed top-0 bottom-0 start-0 w-full flex items-center justify-center" id="preview-box">
                        
                        <div class="bg-white w-3/5 max-lg:w-full p-2 shadow transition-all duration-100 ease-in scale-50" id="image-box">

                            <div class="flex justify-between mx-1 mb-2">
                                <span class="flex gap-1">Image <p class="font-semibold" id="current-img"></p> of <p class="font-semibold" id="total-img"></p></span>
                                <img class="cursor-pointer" src="{% static 'img/x.svg' %}" id="close">
                            </div>

                            <div class="relative flex">
                                <img class="w-10 h-10 p-1 opacity-50 hover:opacity-100 bg-neutral-400 absolute start-2 place-self-center rounded-full" src="{% static 'img/angle-left.svg' %}" id="prev-btn">
                                <img class="" id="selected-img">
                                <img class="w-10 h-10 p-1 opacity-50 hover:opacity-100 bg-neutral-400 absolute end-2 place-self-center rounded-full" src="{% static 'img/angle-right.svg' %}" id="next-btn">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
{% endblock %}

{% block script %}
    <script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}