.switch-button_label{
    display: inline-block;
    cursor: pointer;
    width: 50px;
    height: 25px;
    position: relative;
    border: 2px solid #DC2626;
    border-radius: 100px;
    background-color: rgba(169, 169, 169, 0);
}

#switch-button:checked~ .switch-button_label{
    border: 2px solid #84CC16;
}

.switch-button_label::after{
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;
    background-color: #DC2626;
    border-radius: 100px;
    top: 2px;
    left: 2px;
    transition: 0.3s
}

#switch-button:checked~ .switch-button_label::after{
    background-color: #84CC16;
    left: 27px;
}

#switch-button{
    display: none;
}